/*========GERAL============*/
*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

:root{          /*elemento pai, pagina*/
    font-size: 62.5%; /*1 rem = 10px*/
    --primary-color: #00856f;
    --headline-color: #22262a;
    --paragraph: #484f56;
    --brand-beige: #fffaf0;
    --brand-light: #dce9e3;

    --nav-height: 7.2rem;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
}

.wrapper{
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

/*============HEADER===============================*/

header{
    margin-top: calc(4.1rem + var(--nav-height));
}

header::before{  /*adicionar uma tag antes dos itens do header*/
    content: "";
    width: 100%;
    height: 108rem/*calc(108rem+var(--nav-height))*/;
    
    background-color: var(--brand-light);
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;

    object-position: 0 2rem;
}

header h4{
font-size: 1.4rem; /*1rem = root font size defined by user*/
line-height: 150%;
color: var(--primary-color);
letter-spacing: 0.08em;
margin-bottom: 1.6rem;

}

header h1{
    font-size: 3.4rem;
    line-height: 130%;
    text-align: center;
    color: var(--headline-color);

    margin-bottom: 2.4rem;
}

header p{
    font-size: 1.8rem;
    line-height: 180%;
    color : var(--paragraph);

    margin-bottom: 3.2rem;
}

header button{
    background-color: var(--primary-color);
    
    border: none;
    border-radius: 8rem; 
    
    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: white;

    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    margin-inline: auto;
}

.stats{
    width: 32.7rem;
    padding-block: 4rem; /* coloca o padding no top e no bottom*/
    margin-inline: auto; /* same left and right*/

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;  /*Realiza a centralização em relação ao eixo do flex-direction*/
    gap: 6rem;    /* separação entre objetos dentro do display flex*/

}

.stat p{
    margin: 0;
    color: var(--primary-color);
    line-height: 150%;
}

.stat h3{
    font-size: 4.8rem;
    color: var(--headline-color);
    line-height: 130%;

    margin-bottom: 0.4rem;
}

/*============NAVIGATION===============================*/
nav{
    display: flex;
    /*padding: 1.6rem 2.4rem;*/
    height: var(--nav-height);

    position: fixed;

    top: 0;
    left: 50%;
    transform: translateX(-50%); /*identifica o tamanho total do componente */
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav.scroll{
    background: var(--primary-color);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll button path{
    stroke: white;
}

nav button{
    background: none;
    border: none;
}

/*============MENU EXPENDED===============================*/

body.menu-expanded > :not(nav){
    display: none;
}


body.menu-expanded{
    overflow: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 150vw;
}

body.menu-expanded nav{
    position: relative;
}

.menu ul:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 8rem;
    margin-bottom: 8rem;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.1rem;
}

.menu ul li a{
    color: white;
    text-decoration: none;
}


.menu-expanded .button{
    background-color: white;
    border-radius: 4rem;

    width: 27.4rem;
    height: 5.5rem;

    margin-inline: auto;

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}


body.menu-expanded button,
body.menu-expanded .logo{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}


body.menu-expanded button path{
    stroke: white;
}